<div class="content">
  <div class="field">
    <span>Title: </span>
    <span>{{ title }}</span>
  </div>
  <div class="field" *ngIf="description">
    <span>Description: </span>
    <span>{{ description }}</span>
  </div>
  <div class="field">
    <span>Login: </span>
    <span>{{ login }}</span>
    <button class="copy-button" (click)="onLoginCopy()">Copy</button>
  </div>
  <div class="field">
    <span>Password: </span>
    <span>{{ password }}</span>
    <button class="copy-button" (click)="onPasswordCopy()">Copy</button>
  </div>
</div>
<div class="manage-buttons" *ngIf="editable">
  <button (click)="onEdit()">Edit</button>
  <button (click)="onDelete()">Delete</button>
</div>
