<form [formGroup]="form" class="form">
  <div class="form-field">
    <span>Title</span>
    <input formControlName="title" />
  </div>
  <div class="form-field">
    <span>Description</span>
    <input formControlName="description" />
  </div>
  <div class="form-field">
    <span>Login</span>
    <input formControlName="login" />
  </div>
  <div class="form-row">
    <div class="form-field">
      <span>Password</span>
      <input formControlName="password" />
    </div>
    <button (click)="generatePassword()">Generate</button>
  </div>
</form>
<button (click)="submit()">Save</button>
<ng-content></ng-content>
